numpy
pandas
opencv-python
scikit-learn
torch
torchvision
tensorflow
matplotlib
seaborn
tqdm
albumentations
Pillow
json5
joblib
imbalanced-learn
notebook
jupyter
ipywidgets
transformers
onnxruntime
ultralytics
facenet-pytorch
streamlit
web3
os